div{position: relative;}
body{
	background: #00b38a;
}
.divLogin-wrap{
	background: #FFFFFF;
	width:400px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 20px;
	margin:100px auto;
}
.divLogin{
	display: inline-block;
	width:300px;
}
#formRegist{
	display: none;
}