body{
	font-family: "微软雅黑";
}

.divLogin{
	display: inline-block;
	float: right;
	margin-top:15px;
	height:30px;
	color:#FFFFFF;
}
.aName,.aName:hover,.aName:visited{
	text-decoration: none;
	color:#FFFFFF;
}